* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	border: 1px dashed black;
}

.row {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
}

.col{
	width: 100%;
}

.col-20 {
	width: 20%;
}

.col-40 {
	width: 40%;
}

.col-60 {
	width: 60%;
}

.background-pink {
	background-color: #FFC0CB;
}

.background-lightblue {
	background-color: #1E90FF;
}

.row > * {
	border: 1px dashed black;
}

/* Header */

header {
	background-color: #ADD8E6;
	height: 50px;
	display: flex;
	align-items: center;
}

header .container {
	height: calc(100% - 10px);
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	text-align: center;
}

nav .row {
	background-color: #DAA520;
}

nav .row > *{
	display: flex;
	align-items: center;
}

.nav-left {
	justify-content: flex-start;
}

.nav-center {
	justify-content: center;
}

.nav-right {
	justify-content: flex-end;
}

/* Big Img */

.big-img {
	background-color: #00008B;
	height: 400px;
	display: flex;
	align-items: center;
}

.big-img .container {
	width: 100%;
	max-width: 900px;
	height: calc(100% - 100px);
}

.big-img-content {
	background-color: #EE82EE;
}

/* Img and Text / Text and Img*/

.img-and-text, .text-and-img {
	height: 400px;
	display: flex;
	align-items: center;
}

.img-and-text .container, .text-and-img .container {
	height: calc(100% - 100px);
} 

.img-and-text {
	background-color: #FFFFFF;
}

.text-and-img {
	background-color: #D3D3D3;
}
